body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(204, 203, 203);
}


#main {
  width:600px;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

header {
  text-align: center;

}

.graph {
  width: initial!important;
  height: initial!important;
  margin-top: 20px;
}




/* Full-width input fields */
input[type=text], input[type=password], input[type=tel], input[type=date], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: darkslateblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  position: relative;
  border: none;
  cursor: pointer;
  
}

button:hover {
  opacity: 0.8;
}

.container button {
  width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.dialog_box {
  margin-bottom: 10px;
}

.dialog_box span {
  display: block;
}

#strategy {
  /* font-style: italic; */
}

#round {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

#cpu_score, #user_score {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}
#cpu_score {
  margin-left: 100px;
}

#user_score, #user_choice {
  color: #2c82c9;
}
#cpu_score, #cpu_choice {
  color: #fd6b8b;
}

#user_choice, #cpu_choice {
  font-weight: bold;
  margin-bottom: 5px;
}
#user_choice {
  margin-top: 15px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media (max-width: 600px) {
  button {
    width: 60%;
    border-radius: 10px;
  }
  .bouton_header {
    width: 30%;
  }

  .User_Choice {
    text-align: center;
  }

  table button {
    width: 100%;
  }

  .User_Choice button {
    width: 45%;
    margin-left: 3px;
  }

  #cpu_score, #user_score {
    left: 20%;
    position: relative;
  }

  #play {
    text-align: center;
  }
  #play span {
    display: block;
    margin-bottom: 10px;
  }

  .game_mode {
    width: 31%;
    margin-left: 1%;
    display: inline-block;
  }
}

/*Acceuil explications boutons strategies */

.info_strategy {
  position: absolute;
  width: 250px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: #000;
  z-index: 10;
  left: 200px;
}

.Strategy_Box {
  position: relative;
  text-align: center;
}

.detail_game {
  position: absolute;
  display: inline-block;
  width: 250px;
  border: 2px solid black;
  padding: 5px;
  margin-right: -250px;
  border-radius: 5px;
  bottom: 0;
  background-color: white;
  color: #000;
  z-index: 10;
}

.button_detail {
  position: relative;
}
